

.formsContainer > h1{
    margin-top: 20px;
    text-align:center;
    font-size:50px;
    font-family:Title;
}


.formsContact{
    background-color: rgb(177, 177, 177);
   
    margin-top:30px;
    margin-left: 30%;
    width: 50%;
    height: 600px;
    border:2px solid black;
}
.formsContact > form {
    padding: 0 20px 10px 20px;
    display: flex;
    flex-direction: column;
}
.formsContact > form >label {
    color:black;
    font-weight:1000;
    margin-top:6%;
    font-size: 26px;
}
.formsContact > form >input {
height: 40px;
font-size: 18px;
}
.formsContact > form >textarea {
margin-top: 5%;
height: 200px;
font-size: 18px;
}

.formsContact > form >button {
    cursor: pointer;
    margin-top: 40px;
    width: 30%;
    font-size: 20px;
    border-radius: 10px;
    background-color: azure;
    height: 40px;
    transition: all 0.2s;
}

.formsContact > form >button:hover{
    transform: scale(1.1);
    background-color: rgb(2, 1, 82);
    color:white;
}